* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "OpenSans", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    background-color: unset;
    border: none;
    &:active{
        transform: translateY(5%);
        opacity: 0.8;
    }
}
input {
    border: none;
    outline: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
